[user]
  name = kthatoto
  email = kthatoto@gmail.com
[color]
  ui = true
[alias]
  graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=format:'%Y-%m-%d %H:%M:%S'
  graph-n = log --graph --date-order --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=format:'%Y-%m-%d %H:%M:%S'

  st = status
  cm = commit -m
  ca = commit --amend
  ch = checkout
  br = "!f() { zsh -i -c 'git-br \"$@\"' -- \"$@\"; }; f"
  br-edit = branch --edit-description
  cp = cherry-pick -n
  p  = push
[core]
  editor = nvim
[init]
  defaultBranch = main
[grep]
  lineNumber = true
[color "grep"]
  match = bold red
  lineNumber = bold white
  filename = yellow
